@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css");
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --main-purple-color: #9966CC;
    --logo-color: #764DDA;
    --logo-writing-color: #283555;
    --main-darker-purple-color: #7851A9;
    --light-purple-color: #E6E6FA;
    --medium-purple-color: #BEB4D6;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #F5F3FF;
    color: var(--logo-writing-color);
    margin: 0;
    display: block;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.user-details {
    width: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px;
    gap: 10px;
}

.login-register {
    width: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px;
    gap: 10px;
}

header {
    background-color: var(--medium-purple-color); /* Light Purple for Navigation Bar */
    min-height: fit-content;
    width: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-between;
}

header a, header a:visited {
    color: var(--logo-writing-color);
    text-decoration: none;
}

header a:hover {
    transform: scale(1.05);
}

nav {
    display: flex;
    align-items: center;
    gap: 40px;
}
nav a {
    font-weight: bold;
}

nav a.active {
    color: white;
}

.user-details {
    position: absolute;
    top: 0;
    right: 0;
    width: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px;
}

#logout-btn {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    color: inherit;
    font-weight: inherit;
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: var(--medium-purple-color);
    padding: 20px 0px;
    text-align: center;
    color: white;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex-direction: column;
}

.container {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 40px;
    max-width: 400px;
    width: 100%;
    text-align: center;
}

h1 {
    color: var(--main-darker-purple-color);
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
}

label {
    font-weight: bold;
    color: var(--main-purple-color);
    margin-bottom: 5px;
    display: block;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}

button {
    background-color: var(--logo-color);
    border: none;
    border-radius: 8px;
    color: white;
    padding: 12px 24px;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s ease;
    width: 100%;
    margin-top: 10px;
    font-family: inherit;
}

button:hover {
    background-color: var(--logo-color);
    transform: scale(1.05);
}

button:active {
    background-color: var(--main-purple-color);
    transform: scale(1.02);
}

.error-message {
    color: red;
    margin-top: 10px;
}

.solutions-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    text-align: center;
    margin-top: 20px;
}

.solution-item {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, max-height 0.3s ease;
    cursor: pointer;
    position: relative;
}

.solution-item:hover {
    transform: translateY(-5px);
}

.solution-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}

.solution-item.active .solution-content {
    max-height: 200px;
    padding-top: 10px;
}

.arrow {
    position: absolute;
    top: 15px;
    right: 20px;
    width: 20px;
    height: 20px;
    transition: transform 0.3s;
}

.solution-item.active .arrow {
    transform: rotate(180deg);
}

.solution-item img {
    width: 120px;
    margin: 10px 0;
}

.section {
    padding: 40px 10vw;
    box-sizing: border-box;
    margin-bottom: 40px;
}

.legend-buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}

.btn-secondary {
    padding: 10px 20px;
    background-color: var(--logo-color);
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s;
}

html {
    scroll-behavior: smooth;
}
