:root {
    --main-green-color: #28a745;
    --main-darker-green-color: #218838;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f0f4f8;
    margin: 0;
    display: block;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

header {
    background-color: var(--main-green-color);
    min-height: fit-content;
    width: 100%;
    position: absolute;
    top: 0;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: var(--main-green-color);
    padding: 20px 0px;
    text-align: center
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex-direction: column;
}

.container {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 40px;
    max-width: 400px;
    width: 100%;
    text-align: center;
}

h1 {
    color: #28a745;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
}

label {
    font-weight: bold;
    color: #555;
    margin-bottom: 5px;
    display: block;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}

button {
    background-color: var(--main-green-color);
    border: none;
    border-radius: 8px;
    color: white;
    padding: 12px 24px;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s ease;
    width: 100%;
    margin-top: 10px;
}

button:hover {
    background-color: var(--main-darker-green-color);
    transform: scale(1.05);
}

button:active {
    background-color: #1e7e34;
    transform: scale(1.02);
}


.footer {
    margin-top: 20px;
    font-size: 0.9em;
    color: #777;
}
.error-message {
    color: red;
    margin-top: 10px;
}

.election-button {
    background-color: var(--main-green-color);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
    display: inline-block;
    width: unset;
}

.election-button:hover {
    background-color: #45a049;
}