<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Homepage</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

<header>
    <nav>
      <a href="/home">
        <img src="images/confido-logo.png" style="width: 200px;padding: 10px;">
      </a>
      <a th:if="${electionName}" href="/view-election-details">Election Details</a>
      <a th:if="${electionName}" href="/ledger">Ledger</a>
      <a th:if="${electionName}" href="/">Election Results (update link!)</a>
    </nav>
</header>

<section id="about" class="section" style="display: flex; justify-content: center; align-items: center; text-align: left; margin-top: 110px; padding: 40px; background: #FFFFFF; border-radius: 10px; max-width: 1200px; margin-left: auto; margin-right: auto; box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);">
  <div style="flex: 1; padding: 20px;">
    <p style="font-size: 40px; font-weight: bold; margin-bottom: 20px;">Vote confidently</p>
    <p style="font-size: 60px; font-weight: bold; margin-bottom: 20px; margin-top: 20px;"> ANYWHERE<br/>ANYPLACE<br/>ANYTIME</p>
    <p style="font-size: 20px; line-height: 1.6; margin-bottom: 20px;">
      A redefined online voting platform<br/>
      that guarantees voter anonymity <br/>
      while maintaining a publicly accessible,<br/>
      immutable voting ledger.
    </p>
    <div class="legend-buttons" style="margin-top: 20px;">
      <a href="#purpose" class="btn-secondary">Purpose</a>
      <a href="#goals" class="btn-secondary">Goals</a>
      <a href="#solutions" class="btn-secondary">Solutions</a>
      <a href="#started" class="btn-secondary">Getting Started</a>
    </div>
  </div>
  <div style="flex: 1; text-align: center;">
    <img src="/images/map.png" style="max-width: 100%; height: auto; border-radius: 10px;">
  </div>
</section>


<section id="purpose" class="section" style="text-align: center;">
  <h2>Our Purpose</h2>
  <p style="font-size: 20px; max-width: 800px; margin: 0 auto; margin-bottom: 20px;">
    Your vote matters! Traditional voting systems often come with barriers that <br/>
    can discourage participation, making it harder for people to have their voices heard.
  </p>
  <div class="solutions-container">
      <div class="solution-item">
        <h3>Polling stations</h3>
        <p>Voters must travel to designated polling locations, which can be inconvenient and discourage participation</p>
        <img src="https://img.icons8.com/?size=100&id=3723&format=png"  style="padding: 50px;">
      </div>
      <div class="solution-item">
        <h3>Lack of transparency</h3>
        <p>Voters never receive confirmation that their ballot was counted, raising concerns about trust in the system</p>
        <img src="https://cdn-icons-png.flaticon.com/512/482/482631.png"  style="padding: 50px;">
      </div>
      <div class="solution-item">
        <h3>Lost or tampered ballots</h3>
        <p>Reports of missing or altered ballots make many voters question the fairness and security of elections</p>
        <img src="https://cdn-icons-png.flaticon.com/512/646/646094.png"  style="padding: 50px;">
      </div>
      <div class="solution-item">
        <h3>Counting errors</h3>
        <p>Vote counting is done by election officials, and human error can lead to miscounts that impact election results</p>
        <img src="https://img.icons8.com/?size=100&id=6644&format=png"  style="padding: 50px;">
      </div>
  </div>
  <p style="font-size: 20px; max-width: 800px; margin: 0 auto; margin-top: 20px; font-weight: bold;">
    Our purpose is to solve the issues & uncertainty of traditional <br/> voting systems by removing these obstacles.
  </p>
  <div style="text-align: center; margin-top: 20px;">
    <a href="#about" style="text-decoration: none; color: black; font-size: 16px;">
      Back to Top
      <img src="https://cdn-icons-png.flaticon.com/512/130/130906.png"
           alt="Back to Top"
           title="Back to Top"
           style="width: 25px; height: 25px; vertical-align: middle;">
    </a>
  </div>
</section>

<section id="goals" class="section" style="text-align: center;">
  <h2>Our Goals</h2>
  <div class="solutions-container">
      <div class="solution-item">
        <h3>Secure</h3>
        <p>Designed with multi-layered security to prevent unauthorized access.</p>
        <img src="https://img.icons8.com/?size=100&id=2985&format=png"  style="width: 200px;padding: 50px;">
        <p>We've implemented countless security measures to protect sensitive data while defending against potential attackers.</p>
      </div>
      <div class="solution-item">
        <h3>Trustable</h3>
        <p>Building confidence through transparency and verifiability.</p>
        <img src="https://cdn-icons-png.flaticon.com/128/4371/4371345.png"  style="width: 200px;padding: 50px;">
        <p>We've eliminated the need for a central authority. Rather than solely relying on us, our clients can trust the formally proven methods in place that ensure the integrity of the process while also protecting their anonymity.
        </p>
      </div>
      <div class="solution-item">
        <h3>Transparent</h3>
        <p>Open protocols and real-time updates for election integrity.</p>
        <img src="https://cdn-icons-png.flaticon.com/128/6624/6624423.png"  style="width: 200px;padding: 50px;">
        <p>We've allowed any member of the public to verify that each vote was validly cast and to tally the votes to confirm the election results, all without revealing the identity of the voter behind any specific ballot.</p>
      </div>
    </div>
  </div>
  <div style="text-align: center; margin-top: 20px;">
    <a href="#about" style="text-decoration: none; color: black; font-size: 16px;">
      Back to Top
      <img src="https://cdn-icons-png.flaticon.com/512/130/130906.png"
           alt="Back to Top"
           title="Back to Top"
           style="width: 25px; height: 25px; vertical-align: middle;">
    </a>
  </div>
</section>

<section id="solutions" class="section" style="text-align: center; margin-top: 50px;">
  <h2>Our Solutions</h2>
  <div class="solutions-container">
    <div class="solution-item">
      <img src="https://img.icons8.com/?size=100&id=7225&format=png" alt="Secure">
      <h3>Double-Blind Registration</h3>
      <p>The double-blind registration process has been used to protect voters anonymity not only from external parties but from the system itself</p>
    </div>
    <div class="solution-item">
      <img src="https://img.icons8.com/?size=100&id=25127&format=png" alt="Trustable">
      <h3>3 Ballot System</h3>
      <p>The 3-ballot voting system provides integrity and prevents practices like vote selling</p>
      <a id="instructions-link" href="/instructions" target="_blank" >
        <img src="https://cdn-icons-png.flaticon.com/512/18/18623.png" title="Instructions" style="width: 20px; height: 20px;">
      </a>
    </div>
    <div class="solution-item">
      <img src="https://img.icons8.com/?size=160&id=VSKT26PUWC4L&format=png" alt="Transparent">
      <h3>Prêt à Voter</h3>
      <p>Prêt à voter eliminates candidate bias and guarantees that election results cannot be tallied before the election ends</p>
    </div>
    <div class="solution-item">
      <img src="https://img.icons8.com/?size=160&id=M85Zct5VaWdD&format=png" alt="Transparent">
      <h3>Ring Signatures</h3>
      <p>Ring signatures ensure that only eligible voters can cast their votes maintaining security and authenticity
      </p>
    </div>
    <div class="solution-item">
      <img src="https://img.icons8.com/?size=160&id=84742&format=png" alt="Transparent">
      <h3>Distributed Ledger</h3>
      <p>The distributed ledger solution provides transparency and ensures the immutability of ballot records
      </p>
    </div>
  </div>
  <div style="text-align: center; margin-top: 20px;">
    <a href="#about" style="text-decoration: none; color: black; font-size: 16px;">
      Back to Top
      <img src="https://cdn-icons-png.flaticon.com/512/130/130906.png"
           alt="Back to Top"
           title="Back to Top"
           style="width: 25px; height: 25px; vertical-align: middle;">
    </a>
  </div>
</section>

<section id="started" class="section" style="text-align: center; margin-top: 50px;">
  <h2>Getting Started</h2>
  <div>
    <div>
      <h3>Step 1: <a href="/registration-key">Register</a></h3>
      <p>Enter your registration key distributed by an external party.</p>
    </div>
    <div>
      <h3>Step 2: Set credentials</h3>
      <p>Provide a username that is not self-identifying and a strong password that follows our password policy.</p>
    </div>
    <div>
      <h3>Step 3: Enter your signing key</h3>
      <p>Enter your signing key stored on your device.</p>
    </div>
    <div>
      <h3>Step 4: Select your candidate & the ballot you would like to keep</h3>
      <p>Following the 3-ballot voting system, select your preferred candidate.</p>
    </div>
    <div>
      <h3>Step 5: Cast your ballots & save a copy of your receipt</h3>
      <p>Either email or download a PDF copy of your receipt.</p>
    </div>
    <div>
      <h3>Step 6 (Optional): Find your ballot on the ledger</h3>
      <p>Using the ballot ID on your receipt query the ledger to ensure integrity.</p>
    </div>
  </div>

  <div style="text-align: center; margin-top: 20px;">
    <a href="#about" style="text-decoration: none; color: black; font-size: 16px;">
      Back to Top
      <img src="https://cdn-icons-png.flaticon.com/512/130/130906.png"
           alt="Back to Top"
           title="Back to Top"
           style="width: 25px; height: 25px; vertical-align: middle;">
    </a>
  </div>
</section>

<footer>
  <p>&copy; 2025 Secure and Transparent Voting System</p>
</footer>
</body>
</html>
