<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
  <title>Login</title>
  <link rel="stylesheet" href="/css/styles.css">
  <style>
    body {

    }
    .container {
      margin: 30px auto;
    }

  </style>
</head>
<body>
<header>
  <nav>
    <a href="/home">
      <img src="images/confido-logo.png" style="width: 200px;padding: 10px;">
    </a>
    <a href="/">About Us</a>
    <a th:if="${electionName}" href="/view-election-details">Election Details</a>
    <a th:if="${electionName}" href="/ledger">Ledger</a>
    <a th:if="${electionName}" href="/">Election Results (update link!)</a>
  </nav>
</header>
<main>
  <div class="container">
    <h1>Login to Confido</h1>
    <div class="error-message" th:if="${param.error}">Invalid username and password.</div>
    <form th:action="@{/login}" method="post">
      <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
      </div>

      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
      </div>
      <div th:if="${param.logout}">You have been logged out.</div>
      <button type="submit">Login</button>
    </form>
    <p>Don't have an account? <a href="/registration-key">Register</a></p>
  </div>
</main>
<footer>
  <p>&copy; 2025 Secure and Transparent Voting System</p>
</footer>
</body>
</html>