<!--
    Registration Credentials Page Template
    This template is used to display the form for submitting credentials for the creation of a new account.

    Author: Jasmine Gad El Hak
    Version: 1.0
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register to Voting System</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<header>
    <a href="/home">
        <img src="/images/logo.png"  style="width: 200px;padding: 10px;">
    </a>
</header>

<main>
    <div class="container">
        <h1>Register to Voting System</h1>
        <form action="/register-credentials" method="post">
            <div class="form-group">
                <label for="userName">Username:</label>
                <input type="text" id="userName" name="userName" required>
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <button type="submit">Create Account</button>
        </form>
    </div>
</main>

<footer>
    <p>&copy; 2025 Secure and Transparent Voting System</p>
</footer>

</body>
</html>