<!--
    Registration Sign-In Key Page Template
    This template is used to display the form for submitting registration sign-in key.

    Author: Jasmine Gad El Hak
    Version: 1.0
-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<header>
    <nav>
        <a href="/home">
            <img src="images/confido-logo.png" style="width: 200px;padding: 10px;">
        </a>
        <a th:if="${election}" href="/view-election-details">Election Details</a>
        <a th:if="${election}" href="/ledger">Ledger</a>
        <a th:if="${election}" href="/">Election Results (update link!)</a>
    </nav>
</header>

<main>
    <div class="container">
        <h1>Confido Registration</h1>
        <hr>
        <h2 style="margin-bottom: unset; color: #555555;">Check Eligibility</h2>
        <span style="color: #777777;">Step 1 of 2</span>
        <form action="/registration-key" method="post" style="margin-top: 20px">
            <div class="form-group">
                <label for="registrationKey">Registration Key:</label>
                <div th:if="${errorMessage}" class="error-message" th:text="${errorMessage}"></div>
                <div style="display: flex; align-items: center; gap: 10px">
                    <input type="text" id="registrationKey" name="registrationKey" required>
                    <button type="submit" style="width: unset; margin-top: unset">Verify</button>
                </div>
            </div>
        </form>
        <p>Already have an account? <a href="/home">Log In</a></p>
    </div>

</main>


<footer>
    <p>&copy; 2025 Secure and Transparent Voting System</p>
</footer>
</body>
</html>