<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/three-ballot.css">
    <title>Three Ballot Voting System</title>
    <script>
        function finalizeCandidate() {
            // Disable all checkboxes
            const ballotBoxes = document.querySelectorAll('.ballot-box');
            ballotBoxes.forEach(box => box.disabled = true);

            // Show the ballot selection buttons
            const ballotButtons = document.getElementById('ballot-buttons');
            ballotButtons.style.display = 'block';

            // Hide the finalize candidate button
            const finalizeCandidateButton = document.getElementById('finalize-candidate-button');
            finalizeCandidateButton.style.display = 'none';

            // Show the finalize receipt button container
            const receiptButtonContainer = document.getElementById('receipt-button-container');
            receiptButtonContainer.style.display = 'flex'; // Ensure 'flex' for proper centering
        }

        function finalizeReceipt() {
            // Hide all ballots except the selected one
            const selectedBallotNumber = document.querySelector('.receipt-button[style*="background: rgb(69, 160, 73);"]').id.slice(-1);
            const ballotColumns = document.querySelectorAll('td:nth-child(n+2)');
            ballotColumns.forEach((column, index) => {
                if ((index % 3) + 1 != selectedBallotNumber) {
                    column.style.display = 'none';
                }
            });

            // Hide ballot headers except for the selected one
            const ballotHeaders = document.querySelectorAll('th:nth-child(n+2)');
            ballotHeaders.forEach((header, index) => {
                if ((index % 3) + 1 != selectedBallotNumber) {
                    header.style.display = 'none';
                }
            });

            // // Retrieve the selected ballot's ID and candidate order
            // const selectedBallot = threeBallot.selectReceipt(parseInt(selectedBallotNumber));
            // const ballotId = selectedBallot.getId();
            // const candidateOrder = selectedBallot.getCandidateOrder();

            // Show Ballot ID and Candidate Order columns
            // document.getElementById('ballot-id-value').textContent = ballotId;
            // document.getElementById('candidate-order-value').textContent = candidateOrder;
            // document.getElementById('additional-info').style.display = 'block';

            // Hide ballot selection buttons
            const ballotButtons = document.getElementById('ballot-buttons');
            ballotButtons.style.display = 'none';

            // Hide submit button
            const finalizeReceiptButton = document.getElementById('finalize-receipt-button');
            finalizeReceiptButton.style.display = 'none';

            alert("Ballots cast to the blockchain");
        }

        function selectBallot(ballotNumber) {
            const receiptButtons = document.querySelectorAll('.receipt-button');
            receiptButtons.forEach(button => {
                if (button.id !== ("rButton" + ballotNumber)) {
                    button.style.background = 'gray';
                } else {
                    button.style.background = '#45a049' //green
                }
            });
            const submitButton = document.getElementById('finalize-receipt-button');
            submitButton.disabled = false;
            submitButton.style.background = 'blue';
            submitButton.style.cursor = 'pointer';
        }

        function handleCheckboxClick(checkbox) {
            if (checkbox.checked) {
                onCheck(checkbox);
            } else {
                onUncheck();
            }
        }
        function onCheck(checkbox) {
            const ballotBoxes = document.querySelectorAll('.ballot-box');
            const finalizeButton = document.getElementById('finalize-candidate-button');

            ballotBoxes.forEach(box => {
                if (box !== checkbox) {
                    box.disabled = true;
                }
            });

            finalizeButton.disabled = false;
            finalizeButton.style.background = 'blue';
            finalizeButton.style.cursor = 'pointer';
        }

        function onUncheck() {
            const ballotBoxes = document.querySelectorAll('.ballot-box');
            const finalizeButton = document.getElementById('finalize-candidate-button');

            ballotBoxes.forEach(box => {
                if (box.dataset.premark === 'false') {
                    box.disabled = false;
                }
            });

            finalizeButton.disabled = true;
            finalizeButton.style.background = 'gray';
            finalizeButton.style.cursor = 'not-allowed';
        }
    </script>

</head>
<body>
    <h2>Three Ballot Voting System</h2>

    <table>
        <thead>
        <tr>
            <th>Candidate</th>
            <th>Ballot 1</th>
            <th>Ballot 2</th>
            <th>Ballot 3</th>
        </tr>
        </thead>
        <tbody>

        <!-- Loop through candidates -->
        <tr th:each="candidate, iterStat : ${threeBallot.candidateList}">

            <td th:text="${candidate}"></td> <!-- Candidate name -->

            <!-- Loop through ballot marks for each candidate -->
            <td>
                <!-- autocomplete="off" to deal with firefox caching issue -->
                <input type="checkbox" autocomplete="off"
                       th:checked="${firstBallotMarks[iterStat.index]}"
                       th:attr="data-premark=${threeBallot.getFirstBallot().isPremark(iterStat.index)}, disabled=${threeBallot.getFirstBallot().isPremark(iterStat.index)}"
                       class="ballot-box"
                       onclick="handleCheckboxClick(this)"/>
            </td>
            <td>
                <input type="checkbox" autocomplete="off"
                       th:checked="${secondBallotMarks[iterStat.index]}"
                       th:attr="data-premark=${threeBallot.getSecondBallot().isPremark(iterStat.index)}, disabled=${threeBallot.getSecondBallot().isPremark(iterStat.index)}"
                       class="ballot-box"
                       onclick="handleCheckboxClick(this)"/>
            </td>
            <td>
                <input type="checkbox" autocomplete="off"
                       th:checked="${thirdBallotMarks[iterStat.index]}"
                       th:attr="data-premark=${threeBallot.getThirdBallot().isPremark(iterStat.index)}, disabled=${threeBallot.getThirdBallot().isPremark(iterStat.index)}"
                       class="ballot-box"
                       onclick="handleCheckboxClick(this)"/>
            </td>
        </tr>
        </tbody>
    </table>

    <!-- Buttons for Ballot selection (initially hidden) -->
    <div id="ballot-buttons" style="display: none; margin-top: 20px;">
        <button id="rButton1" class="receipt-button" onclick="selectBallot(1)">Ballot 1</button>
        <button id="rButton2" class="receipt-button" onclick="selectBallot(2)">Ballot 2</button>
        <button id="rButton3" class="receipt-button" onclick="selectBallot(3)">Ballot 3</button>
    </div>

    <!-- Button to disable all checkboxes -->
    <div class="button-container">
        <button id="finalize-candidate-button" class="finalize-button tooltip" onclick="finalizeCandidate()" disabled data-tooltip="Must select candidate first" autocomplete="off">Submit Candidate</button>
    </div>

    <!-- Button to finalize receipt -->
    <div class="button-container" id="receipt-button-container" style="display: none;">
        <button id="finalize-receipt-button" class="finalize-button tooltip" onclick="finalizeReceipt()" disabled data-tooltip="Must select ballot first" autocomplete="off">Submit Ballot</button>
    </div>
</body>
</html>